body {
  background-color: #111;
  color: #fff;
}
#content {
  width: 300px;
  margin: auto;
}
#content > *+* {
  margin-top: 5px;
}
#input {
  padding: 10px 5px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  background-color: #ccc;
  color: #000;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px
}
#results > div{
  display: inline-block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}
#results > *+* {
  padding-left: 5px;
}
#results > div > div {
  padding: 5px;
}
#pass div {
  background-color: #00A300;
}
#fail div {
  background-color: #CC0000;
}
#results .count {
  font-size: 2em;
}